doctype
html
head
   link(rel="stylesheet",href="main.css")
   link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
   link(href="https://fonts.googleapis.com/css?family=Dorsa" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet") 
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
   title Module-11
body
 
 
 div.wrapper  
   include menu/menu.pug
   div.wrapper-white 
   include gallery/gallery.pug
   include footer/footer.pug
   include social-icons/social-icons.pug




        
