div.footer-small
 div.footer-small__icons
  li.footer-small__twitter
   a(href="#")
    i.fa &#xf082;	
  li.footer-small__facebook
   a(href="#")
    i.fa &#xf0d4;
  li.footer-small__google
   a(href="#")
    i.fa &#xf08c;
  li.gooter-small__linkedin
   a(href="#") 
    i.fa &#xf092; 	

  
        
