div.footer
  div.footer__add-info 
   ul
    li
     a(href="#") FAQS PAGE
    li
     a(href="#") PEOPLE SAY
  div.footer__add-info 
   ul
    li
     a(href="#") USEFUL LINKS
    li
     a(href="#") INSURANCE
  div.footer__add-info   
   ul
    li
     a(href="#") PERTNERS
    li
     a(href="#") INSURANCE 
  div.footer__add-info          
   ul
    li
     a(href="#") CONTACT US:
    li
     a(href="#") TEL:1-800-234-5609
     br
     small infi@gmail.com 	
    


  
        
