div.menu
 div.menu__item
  ul
   li 
    a(href="#") HOME
   li
    a(href="#") ABOUT
   li 
    a(href="#") GALLERY
   li.menu__img-logo
    img(src="../assets/img/logo.png")
   li 
    a(href="#") TOURS
   li 
    a(href="#") BLOG
   li 
    a(href="#") CONTACTS

 div.menu__dropdown
   ul.menu__border-corner
     li
      a(href="#") AGENCY
     li
      a(href="#") NEWS
     li 
      a(href="#") TEAM      
   
  


  
        
